@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ripple effect */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1);
  transition: transform 0.5s, opacity 1s;
  pointer-events: none;
}

.ripple:active::after {
  opacity: 1;
  transform: scale(100);
  transition: 0s;
}
